/* page.module.css */

.fileInput{
  display: none; 
}


.customFileUpload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #0e0e0f;
    margin-right: 10px;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
    
  }
  
  .button {
    background-color: #0d0e0d6f; 
    border: none;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s; 
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .button:hover {
    background-color: rgb(1, 1, 1);
    color: rgb(219, 220, 221);
    border: 2px solid #00000074; 
  }


  .main {
    background-color: #515c6e; 
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column; 

  }


  .main h1 {
    color: #000; 
    align-items: center; 
    font-size: 2em; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 50px;

}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.downloadButton {
  background-color: #516aaf; 
  color: rgb(247, 247, 247); 
  padding: 10px 24px; 
  border: none; 
  cursor: pointer; 
  align-self: flex-start;
  margin-left: 20px;
}
    
.apiKeyInput{

  margin-right: 320px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 30px; 
  width: 380px;
}


.inputGroup {
  display: flex; 
  flex-direction: column; 
  
  
}

.APILink{
  color:#000;
  margin-bottom: 20px;
  margin-left: 425px;
  margin-top: -45px
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3); 
  border-top: 4px solid #68a2c9; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


